<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">
	<!-- 아이디가 중복되는 지 검사하는 sql문 -->
	<select id="isExist" parameterType="java.lang.String" 
		resultType="string"> <!-- java.long.String or string 아무거나 써도 인식한다. -->
		SELECT id
		FROM sblogin
		WHERE id=#{inputId}
	</select>
	<!-- 비밀번호가 중복되는 지 검사하는 sql문 -->
	<select id="isExistPwd" parameterType="java.lang.String" 
		resultType="string"> <!-- java.long.String or string 아무거나 써도 인식한다. -->
		SELECT pwd
		FROM sblogin
		WHERE id=#{id}
	</select>
	<select id="getData" parameterType="string" resultType="loginDto">
		SELECT sblogin.id, pwd, email, phone_num, buy_consent, private_consent, trust_consent, profile, 
			TO_CHAR(regdate, 'YYYY-MM-DD') AS regdate , money, point
		FROM sblogin ,sblogin_account
		WHERE sblogin.id=sblogin_account.id and sblogin.id=#{id}
	</select>
	<!-- 회원가입 요청을 수행하는 sql문 -->
	<insert id="insert" parameterType="loginDto">
		INSERT INTO sblogin
		VALUES(#{id}, #{pwd}, #{email_all}, #{phone_num}, #{buy_consent},
			#{private_consent}, #{trust_consent}, #{profile}, SYSDATE)
	</insert>
	<!-- 비밀번호를 수정하는 sql문 -->
	<update id="updatePwd" parameterType="loginDto">
		UPDATE sblogin
		SET pwd=#{newPwd}
		WHERE id=#{id}
	</update>
	<!-- 회원 정보를 수정하는 sql문 -->
	<update id="update" parameterType="loginDto">
		UPDATE sblogin
		SET phone_num=#{phone_num}, email=#{email_all}
		WHERE id=#{id}
	</update>
	<!-- 회원 탈퇴하는 sql문 -->
	<delete id="delete" parameterType="String">
		DELETE FROM sblogin
		WHERE id = #{id}
	</delete>
	
	<!-- 회원가입시 계정 등록 sql문 -->
	<insert id="insert_account" parameterType="loginDto">
		INSERT INTO sblogin_account
		VALUES(#{id},0,0)
	</insert>
	
	<update id="addMoney" parameterType="string">
		update sblogin_account
		set money = money+100000
		where id=#{id}
	</update>
</mapper>