<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">
	<select id="getData" parameterType="string" resultType="loginDto">
		SELECT id, pwd, email, profile,
			TO_CHAR(regdate, 'YY.MM.DD HH24"시"MM"분"') AS regdate
		FROM sblogin
		WHERE id=#{id}
	</select>
</mapper>