<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="addProduct" parameterType="productDto">
		INSERT INTO sbproduct
		(num, kind, productname, content, price, regdate,profile)
		VALUES(sbproduct_seq.NEXTVAL, #{kind }, #{productname },  #{content }, #{price }, SYSDATE,#{profile})
	</insert>
	
	<select id="getList" resultType="ProductDto">
		select num,productname,kind,content,price,regdate,profile,profile2
		from sbproduct
		order by num desc
	</select>
</mapper>